body {
  font-size: 1em;
  min-width: 320px;
  margin: 0;
  font-family: "Gothic A1", sans-serif;
  color: white;
  font-weight: 400; }

html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto; }

section,
div,
a,
p,
h1,
h2,
h3,
h4,
h5,
text {
  padding: 0;
  margin: 0; }

.container {
  max-width: 85%;
  margin: 0 auto;
  height: 100vh; }

#main-banner {
  background: linear-gradient(287.15deg, #450e4b 0%, #3c0c41 24.48%, rgba(207, 0, 99, 0) 100%), #cf0063;
  height: 100vh;
  position: relative; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px 0;
  font-size: 16px; }
  @media only screen and (max-width: 1200px) and (orientation: portrait) {
    header {
      font-size: 20px; } }
  @media only screen and (max-width: 768px) and (orientation: portrait) {
    header {
      font-size: 22px;
      height: 5%; } }

header .nav-top {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: end;
  max-width: 50%; }
  @media only screen and (max-width: 1200px) and (orientation: portrait) {
    header .nav-top {
      max-width: 75%;
      font-size: 22px; } }
  @media only screen and (max-width: 768px) and (orientation: portrait) {
    header .nav-top {
      background: linear-gradient(287.15deg, #450e4b 0%, #3c0c41 24.48%, rgba(207, 0, 99, 0) 100%), #cf0063;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(11%);
      width: 100%;
      max-width: 100%;
      text-align: center;
      justify-content: space-around;
      height: 90%;
      z-index: 3;
      margin: 0;
      opacity: 0;
      overflow: hidden;
      transition: 0.5s all; } }

.logo img {
  width: 120px;
  max-width: none; }
  @media only screen and (max-width: 769px) and (orientation: portrait) {
    .logo img {
      width: 100px; } }

header .nav-top li {
  display: inline-block;
  margin-right: 30px; }
  @media only screen and (max-width: 992px) and (orientation: portrait) {
    header .nav-top li {
      margin-right: 20px; } }

header .nav-top li a {
  display: block;
  text-decoration: none;
  color: white;
  transition: color 0.1s linear; }

header .nav-top li a:hover {
  color: #f8c10c; }

@media only screen and (min-width: 769px) {
  .burger {
    display: none; } }

#check-burger {
  display: none; }

#check-burger:checked ~ .nav-top {
  opacity: 1; }

.burger-span {
  display: block;
  cursor: pointer; }

.burger-line {
  width: 30px;
  height: 2px;
  background: white; }

.burger-line:not(:last-child) {
  margin-bottom: 5px; }

#check-menu:checked ~ .first {
  display: none; }

#check-menu:checked ~ .second {
  transform: rotate(45deg); }

#check-menu:checked ~ .third {
  transform: rotate(-45deg); }

#check-menu:checked ~ .fourth {
  display: none; }

.main-banner-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2; }
  @media only screen and (max-width: 1200px) and (orientation: portrait) {
    .main-banner-text {
      transform: none;
      top: 20%; } }
  @media only screen and (max-width: 992px) and (orientation: portrait) {
    .main-banner-text {
      width: 50%; } }
  @media only screen and (max-width: 769px) and (orientation: portrait) {
    .main-banner-text {
      width: 85%;
      top: 15%; } }

.main-banner-text h1 {
  font-size: 75px; }
  @media only screen and (max-width: 1200px) {
    .main-banner-text h1 {
      font-size: 47px; } }
  @media only screen and (max-width: 769px) and (orientation: portrait) {
    .main-banner-text h1 {
      font-size: 40px; } }
  @media only screen and (max-width: 480px) and (orientation: portrait) {
    .main-banner-text h1 {
      font-size: 35px; } }

.main-banner-text h2 {
  font-size: 25px; }
  @media only screen and (max-width: 1200px) {
    .main-banner-text h2 {
      font-size: 20px; } }
  @media only screen and (max-width: 480px) and (orientation: portrait) {
    .main-banner-text h2 {
      font-size: 18px; } }

.getter {
  padding: 20px 40px;
  background: #fc0a7e;
  border-radius: 3px;
  border: 0;
  color: white;
  margin-top: 20px;
  border: 1px solid transparent; }
  @media only screen and (max-width: 1200px) {
    .getter {
      font-size: 20px; } }
  @media only screen and (max-width: 769px) and (orientation: portrait) {
    .getter {
      font-size: 18px; } }
  @media only screen and (max-width: 480px) and (orientation: portrait) {
    .getter {
      padding: 18px 33px; } }

.getter:hover {
  background: #f89ac8;
  color: black;
  transition: 0.1s linear; }

.back {
  position: absolute;
  right: 0;
  top: 150px;
  z-index: 1;
  height: 75%;
  object-fit: scale-down; }
  @media only screen and (min-width: 1400px) {
    .back {
      height: 100%;
      top: 110px; } }
  @media only screen and (max-width: 1200px) and (orientation: portrait) {
    .back {
      height: auto;
      top: 34%; } }
  @media only screen and (max-width: 768px) and (orientation: portrait) {
    .back {
      height: 43%;
      top: 45%; } }

.arrow {
  position: absolute;
  bottom: 3%;
  right: 50%; }

#profile-view {
  background: #1b1b1b;
  height: 105vh;
  position: relative; }

.text-container {
  max-width: 44%;
  text-align: center;
  margin: 0 auto; }

@media only screen and (max-width: 481px) and (orientation: portrait) {
  .text-container {
    max-width: 85%; } }

h3 {
  font-size: 31px; }

#profile-view h3 {
  padding-top: 30px; }

h4 {
  color: #a8a8a8;
  text-transform: uppercase;
  font-size: 12px; }

#profile-view h4 {
  padding-top: 100px; }
  @media only screen and (max-width: 1200px) and (orientation: portrait) {
    #profile-view h4 {
      padding-top: 200px; } }
  @media only screen and (max-width: 769px) and (orientation: portrait) {
    #profile-view h4 {
      padding-top: 150px; } }

#profile-view img {
  position: absolute;
  bottom: 0;
  width: 70%;
  left: 0;
  right: 0;
  margin: auto; }
  @media only screen and (max-width: 769px) and (orientation: portrait) {
    #profile-view img {
      width: 100%; } }

#proposal {
  margin: 0 auto;
  vertical-align: middle; }

.template-item {
  display: flex;
  align-items: center;
  height: 70vh;
  width: 65%;
  margin: 0 auto;
  justify-content: space-between; }
  @media only screen and (max-width: 992px) and (orientation: portrait) {
    .template-item {
      flex-direction: column;
      justify-content: space-evenly;
      height: 100vh; } }

.template-item:first-child {
  height: 100vh; }

@media only screen and (max-width: 992px) and (orientation: portrait) {
  .template-item:nth-child(2) {
    flex-direction: column-reverse; } }

.template-item .text-container {
  max-width: 30%;
  margin: 0; }
  @media only screen and (max-width: 992px) and (orientation: portrait) {
    .template-item .text-container {
      max-width: 85%;
      text-align: center; } }

.template-item h3 {
  color: #000000;
  padding-top: 30px;
  text-align: left; }
  @media only screen and (max-width: 992px) and (orientation: portrait) {
    .template-item h3 {
      text-align: center; } }
  @media only screen and (max-width: 481px) and (orientation: portrait) {
    .template-item h3 {
      font-size: 25px;
      padding-top: 20px; } }

.template-item h4 {
  text-align: left; }
  @media only screen and (max-width: 992px) and (orientation: portrait) {
    .template-item h4 {
      text-align: center; } }

.template-item p {
  color: #000000;
  padding-top: 22px;
  color: #6b6b6b;
  text-align: left;
  padding-top: 16px; }
  @media only screen and (max-width: 992px) and (orientation: portrait) {
    .template-item p {
      text-align: center; } }

#proposal img {
  height: 70%; }
  @media only screen and (max-width: 1200px) {
    #proposal img {
      height: auto; } }

#info {
  height: 100vh; }
  @media (min-width: 1400px) {
    #info {
      height: auto; } }
  @media only screen and (max-width: 1200px) and (orientation: portrait) {
    #info {
      height: 60vh; } }
  @media only screen and (max-width: 768px) and (orientation: portrait) {
    #info {
      height: auto; } }

.features {
  display: flex;
  text-align: center;
  max-width: 85%;
  margin: 0 auto;
  padding: 100px 0;
  justify-content: center; }
  @media only screen and (max-width: 481px) and (orientation: portrait) {
    .features {
      flex-direction: column; } }

.features h5 {
  color: #000000;
  padding-top: 40px;
  font-size: 18px; }

.features p {
  color: #6b6b6b;
  padding-top: 17px; }

.feature-item {
  padding: 30px; }

.statistics {
  display: flex;
  text-align: center;
  max-width: 85%;
  margin: 0 auto;
  justify-content: space-around; }
  @media only screen and (max-width: 768px) and (orientation: portrait) {
    .statistics {
      padding-bottom: 200px; } }
  @media only screen and (max-width: 481px) and (orientation: portrait) {
    .statistics {
      flex-direction: column; } }

.statistics h5 {
  color: #000000;
  padding-top: 40px;
  font-size: 18px; }

.statistics h3 {
  color: #000000;
  padding-top: 40px;
  font-size: 59px; }

#dishes {
  margin: 0 auto; }

#dishes .template-item img {
  width: 50%; }
  @media only screen and (max-width: 992px) and (orientation: portrait) {
    #dishes .template-item img {
      width: 80%; } }

@media only screen and (max-width: 1200px) and (orientation: portrait) {
  #dishes .template-item {
    height: 50vh; } }
@media only screen and (max-width: 992px) and (orientation: portrait) {
  #dishes .template-item {
    height: 100vh; } }

#distinctions {
  margin: 0 auto;
  vertical-align: middle;
  padding-bottom: 100px; }

.distinctions-item {
  display: flex;
  text-align: center;
  max-width: 70%;
  flex-direction: column;
  margin: 0 auto; }

#distinctions img {
  height: 10%;
  object-fit: scale-down;
  padding-bottom: 65px; }

.distinctions-item p {
  font-size: 24px;
  color: #6b6b6b; }

.signature-item {
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding-top: 17px; }

.signature-item p {
  font-size: 16px; }

.rectangle {
  position: relative;
  width: 30px;
  height: 1px;
  background: #d3d3d3;
  border-radius: 0px;
  top: 10px;
  margin: 0 20px; }

.magazine {
  font-weight: bold; }

.squares {
  padding: 88px 0;
  display: flex;
  margin: 0 auto;
  width: 3%;
  justify-content: space-between; }
  @media only screen and (max-width: 481px) and (orientation: portrait) {
    .squares {
      width: 10%; } }

.square.dark {
  width: 7px;
  height: 7px;
  background: #222222; }

.square.light {
  width: 7px;
  height: 7px;
  background: rgba(34, 34, 34, 0.4); }

.banner {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
  bottom: -6px; }

#get-started {
  background: linear-gradient(287.15deg, #450e4b 0%, #3c0c41 24.48%, rgba(207, 0, 99, 0) 100%), #cf0063;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 481px) and (orientation: portrait) {
    #get-started {
      text-align: center; } }

#get-started .container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

#get-started h3 {
  font-size: 38px; }

.buttons button {
  margin: 20px; }

.getter:hover {
  background: transparent;
  border: 1px solid #9d34b3;
  color: white; }

#get-updates {
  height: 100vh;
  background: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

.wrapper {
  height: 85vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.get-updates-item {
  width: 100%; }

#get-updates p {
  color: #6b6b6b;
  padding-top: 20px; }

#get-updates h3 {
  padding-top: 100px; }

.subscribe-item {
  display: flex;
  padding-top: 40px;
  justify-content: center; }

input {
  padding: 20px 40px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 0;
  margin-top: 20px;
  border: 1px solid transparent; }
  @media only screen and (max-width: 481px) and (orientation: portrait) {
    input {
      padding: 18px 30px;
      width: calc(100% - 104px); } }

#get-updates .getter {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #000000; }
  @media only screen and (max-width: 481px) and (orientation: portrait) {
    #get-updates .getter {
      padding: 18px 30px; } }

@media only screen and (max-width: 481px) {
  #get-updates .getter.pc {
    display: none; } }

@media only screen and (min-width: 482px) {
  #get-updates .getter.mob {
    display: none; } }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

footer img {
  width: 15%;
  padding-bottom: 30px; }

.footer-item {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 481px) and (orientation: portrait) {
    .footer-item {
      flex-wrap: wrap;
      justify-content: center; } }

.footer-item p {
  padding: 0 20px;
  color: #6b6b6b;
  font-size: 12px; }

/*# sourceMappingURL=index.css.map */
