body {
  font-size: 1em;
  min-width: 320px;
  margin: 0;
  font-family: "Gothic A1", sans-serif;
  color: white;
  font-weight: 400;
}

html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

section,
div,
a,
p,
h1,
h2,
h3,
h4,
h5,
text {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  height: 100vh;
}

#main-banner {
  background: linear-gradient(
      287.15deg,
      #450e4b 0%,
      #3c0c41 24.48%,
      rgba(207, 0, 99, 0) 100%
    ),
    #cf0063;
  height: 100vh;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px;
  font-size: 16px;
}

header .nav-top {
  list-style-type: none;
  justify-content: end;
  max-width: 50%;
}

.logo img {
  width: 120px;
  max-width: none;
}

header .nav-top li {
  display: inline-block;
  margin-right: 30px;
}

header .nav-top li a {
  display: block;
  text-decoration: none;
  color: white;
  transition: color 0.1s linear;
}

header .nav-top li a:hover {
  color: #f8c10c;
}

.main-banner-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
}

.main-banner-text h1 {
  font-size: 75px;
}

.main-banner-text h2 {
  font-size: 25px;
}

.getter {
  padding: 20px 40px;
  background: #fc0a7e;
  border-radius: 3px;
  border: 0;
  color: white;
  margin-top: 20px;
  border: 1px solid transparent;
}

.getter:hover {
  background: #f89ac8;
  color: black;
  transition: 0.1s linear;
}

.back {
  position: absolute;
  right: 0;
  top: 150px;
  z-index: 1;
  height: 75%;
  object-fit: scale-down;
}

.arrow {
  position: absolute;
  bottom: 3%;
  right: 50%;
}

#profile-view {
  background: #1b1b1b;
  height: 105vh;
  position: relative;
}

.text-container {
  max-width: 44%;
  text-align: center;
  margin: 0 auto;
}

h3 {
  font-size: 31px;
}

#profile-view h3 {
  padding-top: 30px;
}

h4 {
  color: #a8a8a8;
  text-transform: uppercase;
  font-size: 12px;
}

#profile-view h4 {
  padding-top: 100px;
}

#profile-view img {
  position: absolute;
  bottom: 0;
  width: 70%;
  left: 0;
  right: 0;
  margin: auto;
}

#proposal {
  margin: 0 auto;
  vertical-align: middle;
}

.template-item {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 65%;
  margin: 0 auto;
  justify-content: space-between;
}

.template-item .text-container {
  max-width: 30%;
  margin: 0;
}

.template-item h3 {
  color: #000000;
  padding-top: 30px;
  text-align: left;
}

.template-item h4 {
  text-align: left;
}

.template-item p {
  color: #000000;
  padding-top: 22px;
  color: #6b6b6b;
  text-align: left;
}

#proposal img {
  height: 80%;
}

#info {
  height: 100vh;
}

.features {
  display: flex;
  text-align: center;
  max-width: 85%;
  margin: 0 auto;
  padding: 100px 0;
}

.features h5 {
  color: #000000;
  padding-top: 40px;
  font-size: 18px;
}

.features p {
  color: #6b6b6b;
  padding-top: 17px;
}

.feature-item {
  padding: 30px;
}

.statistics {
  display: flex;
  text-align: center;
  max-width: 85%;
  margin: 0 auto;
  justify-content: space-around;
}

.statistics h5 {
  color: #000000;
  padding-top: 40px;
  font-size: 18px;
}

.statistics h3 {
  color: #000000;
  padding-top: 40px;
  font-size: 59px;
}

#dishes {
  margin: 0 auto;
  vertical-align: middle;
}

#distinctions {
  margin: 0 auto;
  vertical-align: middle;
  padding-bottom: 100px;
}

.distinctions-item {
  display: flex;
  text-align: center;
  max-width: 70%;
  flex-direction: column;
  margin: 0 auto;
}

#distinctions img {
  height: 10%;
  object-fit: scale-down;
  padding-bottom: 65px;
}

.distinctions-item p {
  font-size: 24px;
  color: #6b6b6b;
}

.signature-item {
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding-top: 17px;
}

.signature-item p {
  font-size: 16px;
}

.rectangle {
  position: relative;
  width: 30px;
  height: 1px;
  background: #d3d3d3;
  border-radius: 0px;
  top: 10px;
  margin: 0 20px;
}

.magazine {
  font-weight: bold;
}

.squares {
  padding: 88px 0;
  display: flex;
  margin: 0 auto;
  width: 3%;
  justify-content: space-between;
}

.square.dark {
  width: 7px;
  height: 7px;
  background: #222222;
}

.square.light {
  width: 7px;
  height: 7px;
  background: rgba(34, 34, 34, 0.4);
}

.banner {
  width: 100%;
  height: auto;
  object-fit: scale-down;
  position: relative;
  bottom: -6px;
}

#get-started {
  background: linear-gradient(
      287.15deg,
      #450e4b 0%,
      #3c0c41 24.48%,
      rgba(207, 0, 99, 0) 100%
    ),
    #cf0063;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#get-started h3 {
  font-size: 38px;
}

.buttons button {
  margin: 20px;
}

.getter:hover {
  background: transparent;
  border: 1px solid #9d34b3;
  color: white;
}

#get-updates {
  height: 100vh;
  background: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#get-updates p {
  color: #6b6b6b;
  padding-top: 20px;
}

#get-updates h3 {
  padding-top: 100px;
}

.subscribe-item {
  display: flex;
  padding-top: 40px;
}

input {
  padding: 20px 40px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 0;
  margin-top: 20px;
  border: 1px solid transparent;
}

#get-updates .getter {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #000000;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 15%;
  padding-bottom: 30px;
}

.footer-item {
  display: flex;
  justify-content: space-between;
}

.footer-item p {
  padding: 0 20px;
  color: #6b6b6b;
  font-size: 12px;
}
